.titleblock {
  width: 100%;
  z-index: 3;
  height: 200px;
  padding-left: 70px;
  text-transform: uppercase;
  font-size: 50px;
  top: 0;
  left: 0;
  position: relative;
  text-align: left;
  padding-top: 50px;
}
.tptb {
  margin-top: -70px;
}
.scrollsheet {
  height: 3000px;
}
